## Handling NA values of Borough column in New York Accident data for the year 2020

In [2]:
### There are around 25741 records where BOROUGH is na. But for most of them we have latitude and longitude. 
#This notebook does reverse geocoding using geopy.Nominatim with a 1 second delay between requests, and stores the addresses back into the DataFrame
# For large datasets, best practice is to iterate and save results progressively, so we don’t lose progress.

In [3]:
import pandas as pd
import os
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [4]:
# Load the dataset
df = pd.read_csv('F:\\Ganesha_Power_BI\\Ganesha_15\\NYC_Accidents_2020.csv')
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [5]:
# Check how many are missing values
df['BOROUGH'].isna().sum()

25741

In [6]:
# Specify the columns to check for NA values
columns_to_check = ['BOROUGH', 'LATITUDE', 'LONGITUDE', 'ZIP CODE', 'LOCATION', 'ON STREET NAME', 'OFF STREET NAME']

# Count rows where all of the specified columns have NA values
df[columns_to_check].isna().all(axis=1).sum()

0

In [7]:
OUTPUT_FILE = "reverse_geocoded.csv" # output file with addresses
CHECKPOINT_SIZE = 10                # save every 10 rows

In [8]:
# If output exists, resume from there
if os.path.exists(OUTPUT_FILE):
    df_filtered_borough_nan = pd.read_csv(OUTPUT_FILE, index_col = 0)    
else:
    # Filter rows where 'BOROUGH' has NaN values
    df_filtered_borough_nan = df[df['BOROUGH'].isna()][['LATITUDE', 'LONGITUDE']]

In [9]:
# Add empty address column if not exists
if "address" not in df_filtered_borough_nan.columns:
    df_filtered_borough_nan["address"] = None

In [10]:
df_filtered_borough_nan.head()

     LATITUDE  LONGITUDE                                            address
2   40.816500 -73.946556  Food Inc., 2527, Frederick Douglass Boulevard,...
5   40.682310 -73.844950  103-19, Woodhaven Boulevard, Ozone Park, Queen...
7   40.800160 -73.935380  247, East 121st Street, East Harlem, Manhattan...
14  40.835373 -73.842186  1260, Seabury Avenue, Westchester Square, The ...
15  40.659650 -73.773834  Queens, Queens County, New York, 11430, United...

In [11]:
# Initialize geolocator
geolocator = Nominatim(user_agent="my_reverse_geocoder")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

for idx, row in df_filtered_borough_nan.iterrows():
    if pd.notna(row["address"]): 
        continue  # skip already processed
    
    try:
        location = reverse((row["LATITUDE"], row["LONGITUDE"]), language="en")
        df_filtered_borough_nan.at[idx, "address"] = location.address if location else None
    except Exception as e:
        df_filtered_borough_nan.at[idx, "address"] = f"Error: {e}"

    # Save every CHECKPOINT_SIZE rows
    if idx % CHECKPOINT_SIZE == 0:
        df_filtered_borough_nan.to_csv(OUTPUT_FILE)
        print(f"Checkpoint saved at row {idx}")

# Final save
df_filtered_borough_nan.to_csv(OUTPUT_FILE)
print("All done! Results saved to", OUTPUT_FILE)

Checkpoint saved at row 67170
Checkpoint saved at row 67190
Checkpoint saved at row 67280
Checkpoint saved at row 67310
Checkpoint saved at row 67350
Checkpoint saved at row 67370
Checkpoint saved at row 67420
Checkpoint saved at row 67440
Checkpoint saved at row 67450
Checkpoint saved at row 67460
Checkpoint saved at row 67500
Checkpoint saved at row 67510
Checkpoint saved at row 67540
Checkpoint saved at row 67560
Checkpoint saved at row 67570
Checkpoint saved at row 67590
Checkpoint saved at row 67600
Checkpoint saved at row 67630
Checkpoint saved at row 67740
Checkpoint saved at row 67750
Checkpoint saved at row 67770
Checkpoint saved at row 67810
Checkpoint saved at row 67850
Checkpoint saved at row 67860
Checkpoint saved at row 67900
Checkpoint saved at row 67950
Checkpoint saved at row 67960
Checkpoint saved at row 67970
Checkpoint saved at row 67980
Checkpoint saved at row 68020
Checkpoint saved at row 68070
Checkpoint saved at row 68160
Checkpoint saved at row 68180
Checkpoint saved at row 68200
Checkpoint saved at row 68210
Checkpoint saved at row 68220
Checkpoint saved at row 68250
Checkpoint saved at row 68270
Checkpoint saved at row 68280
Checkpoint saved at row 68320
Checkpoint saved at row 68360
Checkpoint saved at row 68370
Checkpoint saved at row 68390
Checkpoint saved at row 68410
Checkpoint saved at row 68430
Checkpoint saved at row 68460
Checkpoint saved at row 68480
Checkpoint saved at row 68500
Checkpoint saved at row 68560
Checkpoint saved at row 68570
Checkpoint saved at row 68580
Checkpoint saved at row 68610
Checkpoint saved at row 68620
Checkpoint saved at row 68660
Checkpoint saved at row 68680
Checkpoint saved at row 68700
Checkpoint saved at row 68750
Checkpoint saved at row 68770
Checkpoint saved at row 68810
Checkpoint saved at row 68840
Checkpoint saved at row 68850
Checkpoint saved at row 68860
Checkpoint saved at row 68870
Checkpoint saved at row 68880
Checkpoint saved at row 68920
Checkpoint saved at row 68940
Checkpoint saved at row 68970
Checkpoint saved at row 68990
Checkpoint saved at row 69000
Checkpoint saved at row 69070
Checkpoint saved at row 69120
Checkpoint saved at row 69140
Checkpoint saved at row 69190
Checkpoint saved at row 69230
Checkpoint saved at row 69250
Checkpoint saved at row 69280
Checkpoint saved at row 69290
Checkpoint saved at row 69300
Checkpoint saved at row 69320
Checkpoint saved at row 69330
Checkpoint saved at row 69410
Checkpoint saved at row 69440
Checkpoint saved at row 69510
Checkpoint saved at row 69520
Checkpoint saved at row 69530
Checkpoint saved at row 69550
Checkpoint saved at row 69560
Checkpoint saved at row 69570
Checkpoint saved at row 69620
Checkpoint saved at row 69640
Checkpoint saved at row 69660
Checkpoint saved at row 69710
Checkpoint saved at row 69750
Checkpoint saved at row 69790
Checkpoint saved at row 69820
Checkpoint saved at row 69840
Checkpoint saved at row 69890
Checkpoint saved at row 69900
Checkpoint saved at row 69920
Checkpoint saved at row 69940
Checkpoint saved at row 69950
Checkpoint saved at row 69960
Checkpoint saved at row 69990
Checkpoint saved at row 70010
Checkpoint saved at row 70020
Checkpoint saved at row 70030
Checkpoint saved at row 70040
Checkpoint saved at row 70080
Checkpoint saved at row 70090
Checkpoint saved at row 70100
Checkpoint saved at row 70130
Checkpoint saved at row 70150
Checkpoint saved at row 70190
Checkpoint saved at row 70210
Checkpoint saved at row 70270
Checkpoint saved at row 70280
Checkpoint saved at row 70350
Checkpoint saved at row 70380
Checkpoint saved at row 70420
Checkpoint saved at row 70440
Checkpoint saved at row 70450
Checkpoint saved at row 70490
Checkpoint saved at row 70500
Checkpoint saved at row 70540
Checkpoint saved at row 70550
Checkpoint saved at row 70590
Checkpoint saved at row 70650
Checkpoint saved at row 70720
Checkpoint saved at row 70730
Checkpoint saved at row 70740
Checkpoint saved at row 70750
Checkpoint saved at row 70760
Checkpoint saved at row 70860
Checkpoint saved at row 70880
Checkpoint saved at row 70890
Checkpoint saved at row 70900
Checkpoint saved at row 70920
Checkpoint saved at row 70940
Checkpoint saved at row 70950
Checkpoint saved at row 70980
Checkpoint saved at row 71000
Checkpoint saved at row 71020
Checkpoint saved at row 71070
Checkpoint saved at row 71080
Checkpoint saved at row 71160
Checkpoint saved at row 71190
Checkpoint saved at row 71210
Checkpoint saved at row 71240
Checkpoint saved at row 71270
Checkpoint saved at row 71280
Checkpoint saved at row 71290
Checkpoint saved at row 71330
Checkpoint saved at row 71360
Checkpoint saved at row 71370
Checkpoint saved at row 71390
Checkpoint saved at row 71480
Checkpoint saved at row 71520
Checkpoint saved at row 71530
Checkpoint saved at row 71550
Checkpoint saved at row 71560
Checkpoint saved at row 71610
Checkpoint saved at row 71620
Checkpoint saved at row 71680
Checkpoint saved at row 71730
Checkpoint saved at row 71760
Checkpoint saved at row 71770
Checkpoint saved at row 71790
Checkpoint saved at row 71800
Checkpoint saved at row 71820
Checkpoint saved at row 71830
Checkpoint saved at row 71850
Checkpoint saved at row 71900
Checkpoint saved at row 71920
Checkpoint saved at row 71970
Checkpoint saved at row 71980
Checkpoint saved at row 72050
Checkpoint saved at row 72060
Checkpoint saved at row 72100
Checkpoint saved at row 72110
Checkpoint saved at row 72140
Checkpoint saved at row 72150
Checkpoint saved at row 72200
Checkpoint saved at row 72210
Checkpoint saved at row 72390
Checkpoint saved at row 72460
Checkpoint saved at row 72560
Checkpoint saved at row 72570
Checkpoint saved at row 72600
Checkpoint saved at row 72700
Checkpoint saved at row 72730
Checkpoint saved at row 72740
Checkpoint saved at row 72820
Checkpoint saved at row 72850
Checkpoint saved at row 72900
Checkpoint saved at row 72910
Checkpoint saved at row 72940
Checkpoint saved at row 72950
Checkpoint saved at row 73000
Checkpoint saved at row 73020
Checkpoint saved at row 73030
Checkpoint saved at row 73070
Checkpoint saved at row 73090
Checkpoint saved at row 73120
Checkpoint saved at row 73160
Checkpoint saved at row 73170
Checkpoint saved at row 73220
Checkpoint saved at row 73240
Checkpoint saved at row 73280
Checkpoint saved at row 73380
Checkpoint saved at row 73420
Checkpoint saved at row 73430
Checkpoint saved at row 73480
Checkpoint saved at row 73500
Checkpoint saved at row 73520
Checkpoint saved at row 73530
Checkpoint saved at row 73630
Checkpoint saved at row 73670
Checkpoint saved at row 73760
Checkpoint saved at row 73790
Checkpoint saved at row 73800
Checkpoint saved at row 73820
Checkpoint saved at row 73830
Checkpoint saved at row 73880
Checkpoint saved at row 73900
Checkpoint saved at row 73920
Checkpoint saved at row 73930
Checkpoint saved at row 73940
Checkpoint saved at row 73950
Checkpoint saved at row 73960
Checkpoint saved at row 74040
Checkpoint saved at row 74060
Checkpoint saved at row 74070
Checkpoint saved at row 74130
Checkpoint saved at row 74140
Checkpoint saved at row 74190
Checkpoint saved at row 74220
Checkpoint saved at row 74230
Checkpoint saved at row 74250
Checkpoint saved at row 74290
Checkpoint saved at row 74310
Checkpoint saved at row 74320
Checkpoint saved at row 74340
Checkpoint saved at row 74380
Checkpoint saved at row 74390
Checkpoint saved at row 74440
Checkpoint saved at row 74450
Checkpoint saved at row 74510
Checkpoint saved at row 74520
Checkpoint saved at row 74540
Checkpoint saved at row 74590
Checkpoint saved at row 74600
Checkpoint saved at row 74680
Checkpoint saved at row 74700
Checkpoint saved at row 74780
Checkpoint saved at row 74800
Checkpoint saved at row 74830
Checkpoint saved at row 74840
All done! Results saved to reverse_geocoded.csv

In [28]:
# Load the dataset
df_address = pd.read_csv('F:\\Ganesha_Power_BI\\Ganesha_15\\reverse_geocoded.csv', index_col = 0)
df_address.head(25)

     LATITUDE  LONGITUDE                                            address
2   40.816500 -73.946556  Food Inc., 2527, Frederick Douglass Boulevard,...
5   40.682310 -73.844950  103-19, Woodhaven Boulevard, Ozone Park, Queen...
7   40.800160 -73.935380  247, East 121st Street, East Harlem, Manhattan...
14  40.835373 -73.842186  1260, Seabury Avenue, Westchester Square, The ...
15  40.659650 -73.773834  Queens, Queens County, New York, 11430, United...
21  40.665840 -73.755510  Belt Parkway, Laurelton, Queens, Queens County...
22  40.650520 -73.733090  256-02, Craft Avenue, Rosedale, Queens, Queens...
23  40.839680 -73.929276  Major Deegan Expressway, Morris Heights, The B...
27  40.674347 -73.820710  118-02, Sutter Avenue, South Ozone Park, Queen...
29  40.680954 -73.967680  Pacific Street, Prospect Heights, Brooklyn, Ki...
30  40.729480 -73.972100  FDR Drive, Manhattan Community Board 6, Manhat...
32  40.806293 -73.936030  2129, Lexington Avenue, Manhattan Community Bo...
35  40.816204 -73.914230  Brook Avenue, The Bronx, Bronx County, New Yor...
43  40.687190 -73.974625  Mo's Bar, 80, Lafayette Avenue, Fort Greene, B...
48  40.730446 -73.980350  14th Street Loop, Manhattan Community Board 6,...
49        NaN        NaN          Error: Must be a coordinate pair or Point
50  40.582977 -73.980420  Belt Parkway, Brooklyn, Kings County, New York...
53  40.770080 -73.947840  FDR Drive, Upper East Side, Manhattan Communit...
56  40.702500 -73.916330  197, Wyckoff Avenue, Bushwick, Brooklyn, Kings...
58        NaN        NaN          Error: Must be a coordinate pair or Point
59  40.858707 -73.903700  FDNY EMS Station19, 2283, Jerome Avenue, Fordh...
60  40.731304 -73.925964  Kosciuszko Bridge, Brooklyn-Queens Expressway,...
61  40.636830 -74.139114  144, Harrison Avenue, Port Richmond, Staten Is...
63        NaN        NaN          Error: Must be a coordinate pair or Point
69  40.764122 -73.812775  150-41, Roosevelt Avenue, Flushing, Queens, Qu...

In [30]:
# Remove rows where 'LATITUDE' has NaN values
df_cleaned = df_address.dropna(subset=['LATITUDE'])

In [32]:
df_cleaned.head(25)

     LATITUDE  LONGITUDE                                            address
2   40.816500 -73.946556  Food Inc., 2527, Frederick Douglass Boulevard,...
5   40.682310 -73.844950  103-19, Woodhaven Boulevard, Ozone Park, Queen...
7   40.800160 -73.935380  247, East 121st Street, East Harlem, Manhattan...
14  40.835373 -73.842186  1260, Seabury Avenue, Westchester Square, The ...
15  40.659650 -73.773834  Queens, Queens County, New York, 11430, United...
21  40.665840 -73.755510  Belt Parkway, Laurelton, Queens, Queens County...
22  40.650520 -73.733090  256-02, Craft Avenue, Rosedale, Queens, Queens...
23  40.839680 -73.929276  Major Deegan Expressway, Morris Heights, The B...
27  40.674347 -73.820710  118-02, Sutter Avenue, South Ozone Park, Queen...
29  40.680954 -73.967680  Pacific Street, Prospect Heights, Brooklyn, Ki...
30  40.729480 -73.972100  FDR Drive, Manhattan Community Board 6, Manhat...
32  40.806293 -73.936030  2129, Lexington Avenue, Manhattan Community Bo...
35  40.816204 -73.914230  Brook Avenue, The Bronx, Bronx County, New Yor...
43  40.687190 -73.974625  Mo's Bar, 80, Lafayette Avenue, Fort Greene, B...
48  40.730446 -73.980350  14th Street Loop, Manhattan Community Board 6,...
50  40.582977 -73.980420  Belt Parkway, Brooklyn, Kings County, New York...
53  40.770080 -73.947840  FDR Drive, Upper East Side, Manhattan Communit...
56  40.702500 -73.916330  197, Wyckoff Avenue, Bushwick, Brooklyn, Kings...
59  40.858707 -73.903700  FDNY EMS Station19, 2283, Jerome Avenue, Fordh...
60  40.731304 -73.925964  Kosciuszko Bridge, Brooklyn-Queens Expressway,...
61  40.636830 -74.139114  144, Harrison Avenue, Port Richmond, Staten Is...
69  40.764122 -73.812775  150-41, Roosevelt Avenue, Flushing, Queens, Qu...
72  40.786003 -73.802190  159-14, Cross Island Parkway, Beechhurst, Quee...
74  40.821636 -73.939090  West 145th Street, Manhattan Community Board 1...
75  40.710476 -73.963844  Gourmet Deli Market, 115, South 6th Street, Br...

In [38]:
merged_df = pd.merge(df, df_cleaned['address'], left_index=True, right_index=True, how='left')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,address
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"Food Inc., 2527, Frederick Douglass Boulevard,..."
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN,NaN
5,2020-08-29,03:29:00,NaN,NaN,40.682310,-73.844950,POINT (-73.84495 40.68231),WOODHAVEN BOULEVARD,NaN,NaN,...,NaN,NaN,NaN,4342721,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"103-19, Woodhaven Boulevard, Ozone Park, Queen..."
6,2020-08-29,19:30:00,BRONX,10459.0,40.825226,-73.887780,POINT (-73.88778 40.825226),LONGFELLOW AVENUE,EAST 165 STREET,NaN,...,NaN,NaN,NaN,4343004,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN
7,2020-08-29,00:00:00,NaN,NaN,40.800160,-73.935380,POINT (-73.93538 40.80016),2 AVENUE,NaN,NaN,...,NaN,NaN,NaN,4343342,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"247, East 121st Street, East Harlem, Manhattan..."
8,2020-08-29,19:50:00,BRONX,10466.0,40.894314,-73.860270,POINT (-73.86027 40.894314),EAST 233 STREET,CARPENTER AVENUE,NaN,...,Unspecified,NaN,NaN,4343030,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
9,2020-08-29,09:20:00,QUEENS,11385.0,40.706780,-73.908880,POINT (-73.90888 40.70678),NaN,NaN,565 WOODWARD AVENUE,...,NaN,NaN,NaN,4343040,Sedan,NaN,NaN,NaN,NaN,NaN
10,2020-08-29,00:07:00,QUEENS,11436.0,40.680237,-73.797740,POINT (-73.79774 40.680237),NaN,NaN,116-52 144 STREET,...,Unspecified,NaN,NaN,4342743,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
11,2020-08-29,14:00:00,QUEENS,11433.0,40.704422,-73.792854,POINT (-73.792854 40.704422),ARCHER AVENUE,MERRICK BOULEVARD,NaN,...,NaN,NaN,NaN,4343448,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
12,2020-08-29,21:33:00,BRONX,10455.0,40.812965,-73.916100,POINT (-73.9161 40.812965),EAST 146 STREET,BROOK AVENUE,NaN,...,NaN,NaN,NaN,4343143,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN
13,2020-08-29,22:53:00,BROOKLYN,11249.0,40.701660,-73.961464,POINT (-73.961464 40.70166),WILLIAMSBURG STREET WEST,WYTHE AVENUE,NaN,...,NaN,NaN,NaN,4343074,Sedan,NaN,NaN,NaN,NaN,NaN
14,2020-08-29,04:14:00,NaN,NaN,40.835373,-73.842186,POINT (-73.842186 40.835373),WATERBURY AVENUE,NaN,NaN,...,NaN,NaN,NaN,4342716,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN,"1260, Seabury Avenue, Westchester Square, The ..."
15,2020-08-29,06:35:00,NaN,NaN,40.659650,-73.773834,POINT (-73.773834 40.65965),ROCKAWAY BOULEVARD,NASSAU EXPRESSWAY,NaN,...,NaN,NaN,NaN,4342746,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,"Queens, Queens County, New York, 11430, United..."
16,2020-08-29,13:00:00,BROOKLYN,11206.0,40.699707,-73.957180,POINT (-73.95718 40.699707),BEDFORD AVENUE,WALLABOUT STREET,NaN,...,NaN,NaN,NaN,4343077,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
17,2020-08-29,10:30:00,QUEENS,11385.0,40.712200,-73.862080,POINT (-73.86208 40.7122),METROPOLITAN AVENUE,COOPER AVENUE,NaN,...,NaN,NaN,NaN,4342892,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,NaN
18,2020-08-29,12:29:00,BRONX,10453.0,40.861862,-73.912820,POINT (-73.91282 40.861862),WEST FORDHAM ROAD,MAJOR DEEGAN EXPRESSWAY,NaN,...,NaN,NaN,NaN,4342833,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
19,2020-08-29,10:35:00,BROOKLYN,11211.0,40.710957,-73.951126,POINT (-73.951126 40.710957),UNION AVENUE,GRAND STREET,NaN,...,NaN,NaN,NaN,4343073,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
20,2020-08-29,13:55:00,BROOKLYN,11231.0,40.674730,-74.000290,POINT (-74.00029 40.67473),HAMILTON AVENUE,GARNET STREET,NaN,...,NaN,NaN,NaN,4342786,Sedan,Sedan,NaN,NaN,NaN,NaN
21,2020-08-29,00:30:00,NaN,NaN,40.665840,-73.755510,POINT (-73.75551 40.66584),BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,4342671,Sedan,Sedan,NaN,NaN,NaN,"Belt Parkway, Laurelton, Queens, Queens County..."
22,2020-08-29,06:30:00,NaN,NaN,40.650520,-73.733090,POINT (-73.73309 40.65052),CRAFT AVENUE,NaN,NaN,...,NaN,NaN,NaN,4342766,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"256-02, Craft Avenue, Rosedale, Queens, Queens..."
23,2020-08-29,19:00:00,NaN,NaN,40.839680,-73.929276,POINT (-73.929276 40.83968),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,4342727,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,"Major Deegan Expressway, Morris Heights, The B..."
24,2020-08-29,01:45:00,MANHATTAN,10029.0,40.794770,-73.932470,POINT (-73.93247 40.79477),NaN,NaN,545 EAST 116 STREET,...,NaN,NaN,NaN,4343343,Sedan,NaN,NaN,NaN,NaN,NaN

In [48]:
# Fill NaN values in 'col1' with values from 'col2'
merged_df['BOROUGH'] = merged_df['BOROUGH'].fillna(merged_df['address'].str.split(',').str[-5])
merged_df['ZIP CODE'] = merged_df['ZIP CODE'].fillna(merged_df['address'].str.split(',').str[-2])

In [50]:
merged_df.head(25)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,address
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN,NaN
2,2020-08-29,18:20:00,Manhattan,10030,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"Food Inc., 2527, Frederick Douglass Boulevard,..."
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN,NaN
5,2020-08-29,03:29:00,Queens,11417,40.682310,-73.844950,POINT (-73.84495 40.68231),WOODHAVEN BOULEVARD,NaN,NaN,...,NaN,NaN,NaN,4342721,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"103-19, Woodhaven Boulevard, Ozone Park, Queen..."
6,2020-08-29,19:30:00,BRONX,10459.0,40.825226,-73.887780,POINT (-73.88778 40.825226),LONGFELLOW AVENUE,EAST 165 STREET,NaN,...,NaN,NaN,NaN,4343004,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN
7,2020-08-29,00:00:00,Manhattan,10035,40.800160,-73.935380,POINT (-73.93538 40.80016),2 AVENUE,NaN,NaN,...,NaN,NaN,NaN,4343342,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"247, East 121st Street, East Harlem, Manhattan..."
8,2020-08-29,19:50:00,BRONX,10466.0,40.894314,-73.860270,POINT (-73.86027 40.894314),EAST 233 STREET,CARPENTER AVENUE,NaN,...,Unspecified,NaN,NaN,4343030,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
9,2020-08-29,09:20:00,QUEENS,11385.0,40.706780,-73.908880,POINT (-73.90888 40.70678),NaN,NaN,565 WOODWARD AVENUE,...,NaN,NaN,NaN,4343040,Sedan,NaN,NaN,NaN,NaN,NaN
10,2020-08-29,00:07:00,QUEENS,11436.0,40.680237,-73.797740,POINT (-73.79774 40.680237),NaN,NaN,116-52 144 STREET,...,Unspecified,NaN,NaN,4342743,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
11,2020-08-29,14:00:00,QUEENS,11433.0,40.704422,-73.792854,POINT (-73.792854 40.704422),ARCHER AVENUE,MERRICK BOULEVARD,NaN,...,NaN,NaN,NaN,4343448,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
12,2020-08-29,21:33:00,BRONX,10455.0,40.812965,-73.916100,POINT (-73.9161 40.812965),EAST 146 STREET,BROOK AVENUE,NaN,...,NaN,NaN,NaN,4343143,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN
13,2020-08-29,22:53:00,BROOKLYN,11249.0,40.701660,-73.961464,POINT (-73.961464 40.70166),WILLIAMSBURG STREET WEST,WYTHE AVENUE,NaN,...,NaN,NaN,NaN,4343074,Sedan,NaN,NaN,NaN,NaN,NaN
14,2020-08-29,04:14:00,The Bronx,10462,40.835373,-73.842186,POINT (-73.842186 40.835373),WATERBURY AVENUE,NaN,NaN,...,NaN,NaN,NaN,4342716,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN,"1260, Seabury Avenue, Westchester Square, The ..."
15,2020-08-29,06:35:00,Queens,11430,40.659650,-73.773834,POINT (-73.773834 40.65965),ROCKAWAY BOULEVARD,NASSAU EXPRESSWAY,NaN,...,NaN,NaN,NaN,4342746,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,"Queens, Queens County, New York, 11430, United..."
16,2020-08-29,13:00:00,BROOKLYN,11206.0,40.699707,-73.957180,POINT (-73.95718 40.699707),BEDFORD AVENUE,WALLABOUT STREET,NaN,...,NaN,NaN,NaN,4343077,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
17,2020-08-29,10:30:00,QUEENS,11385.0,40.712200,-73.862080,POINT (-73.86208 40.7122),METROPOLITAN AVENUE,COOPER AVENUE,NaN,...,NaN,NaN,NaN,4342892,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,NaN
18,2020-08-29,12:29:00,BRONX,10453.0,40.861862,-73.912820,POINT (-73.91282 40.861862),WEST FORDHAM ROAD,MAJOR DEEGAN EXPRESSWAY,NaN,...,NaN,NaN,NaN,4342833,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
19,2020-08-29,10:35:00,BROOKLYN,11211.0,40.710957,-73.951126,POINT (-73.951126 40.710957),UNION AVENUE,GRAND STREET,NaN,...,NaN,NaN,NaN,4343073,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
20,2020-08-29,13:55:00,BROOKLYN,11231.0,40.674730,-74.000290,POINT (-74.00029 40.67473),HAMILTON AVENUE,GARNET STREET,NaN,...,NaN,NaN,NaN,4342786,Sedan,Sedan,NaN,NaN,NaN,NaN
21,2020-08-29,00:30:00,Queens,11413,40.665840,-73.755510,POINT (-73.75551 40.66584),BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,4342671,Sedan,Sedan,NaN,NaN,NaN,"Belt Parkway, Laurelton, Queens, Queens County..."
22,2020-08-29,06:30:00,Queens,11422,40.650520,-73.733090,POINT (-73.73309 40.65052),CRAFT AVENUE,NaN,NaN,...,NaN,NaN,NaN,4342766,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,"256-02, Craft Avenue, Rosedale, Queens, Queens..."
23,2020-08-29,19:00:00,The Bronx,10040,40.839680,-73.929276,POINT (-73.929276 40.83968),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,4342727,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,"Major Deegan Expressway, Morris Heights, The B..."
24,2020-08-29,01:45:00,MANHATTAN,10029.0,40.794770,-73.932470,POINT (-73.93247 40.79477),NaN,NaN,545 EAST 116 STREET,...,NaN,NaN,NaN,4343343,Sedan,NaN,NaN,NaN,NaN,NaN

In [44]:
# Check how many are missing values
merged_df['BOROUGH'].isna().sum()

4563

In [52]:
merged_df.drop(columns=['address'], inplace=True)

In [54]:
merged_df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,Manhattan,10030,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [60]:
merged_df.to_csv('cleaned_borough_na.csv', index=False)